.trip {
    
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    &__line {
        hr {
            border:none;
            background-color: $line;
            width: 25px;
            transform:skewY(45deg);
            height: 5px;
        }
    }
    &__destination {
       
        img {
            
            width:290px;
            height: 400px;
            object-fit: cover;
            
           
        }
       
        &__content {
            transition: 0.6s ease all;
            position: relative;
            top: 0;
           
            &__guided,&__rate {
                display: flex;
                justify-content: space-between;
                margin-right: 0 !important;
                align-items: center;
                ;
            }
            p {
                margin:0;
            }
            h2 {
                margin:20px 0;
            }
            .checked {
                color:orange
            }
        }
        &__content:hover {
            
            transition: 0.6s ease all;
            top:-50px;
            .trip__destination__content--hover{
                transition: 0.4s ease all;
                visibility: visible;
            }
        }
        &__content--hover{
            position: relative;
            top:0;
            transition: 0.4s ease all;
           visibility: hidden;

        }
       
        
        
    }
    &__text {
        h1 {
            font-size:40px;
        }
        &__btn--black {
            height: 50px;
            width: 50px;
            background-color: black;
            position: relative;
            top:-10px;
            right:210px;
        }
        &__btn--secondary {
            height: 50px;
            width: 50px;
            background-color: gray;
            position: relative;
            top:10px;
            right:90px;
        }
        &__wrap {
            display:flex;
           
        }
        button {
            
            
            z-index: 2;
            background: $primary-btn;
            padding:13px 25px;
            color:$primary-text;
            font-size:18px;
        }
    }
   
}
.trip-wrap {
    background-color:$primary-bg;
    
   
}
.trip {
    padding-top:150px;
    &__text {
        max-width: 30%;
        margin-left:175px;
        margin-right:80px;
        p {
            margin-bottom: 65px;
        }
        &__wrap {
            margin-left:10px;
        }
    }
    &__destination {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        div {
            margin-right:40px;
        }
        div:last-child {
            margin:0;
        }
       
    }
}